// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.elm {
}

.elm .tree-renderer {
    position: absolute;
    background-color: #222222;
    height: 20px;
    width: 100%;
    cursor: pointer;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.elm-tree-renderer-icon {
    display: inline-block;
    width: 25px;
    min-width: 25px;
    font-size: 8px;
}

.elm-tree-renderer-label {
    display: inline-block;
    width: 120px;
}

 .elm-tree-renderer-value {
    display: inline-block;
}
